<div class="filters">
  <div class="filter">
    <label for="region">Región</label>
    <select [(ngModel)]="filter.region" id="region" (change)="updateCharts()">
      <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
    </select>
  </div>

  <div class="filter">
    <label for="year">Año</label>
    <select [(ngModel)]="filter.year" id="year" (change)="updateCharts()">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
</div>

<div id="noDataMessage" style="display: none;">
  <p>No hay datos disponibles para los filtros seleccionados.</p>
</div>

<div class="charts">
  <canvas id="barChart"></canvas>
  <canvas id="pieChart"></canvas>
  <canvas id="lineChart"></canvas>
  <canvas id="areaChart"></canvas>
</div>
