<div class="dashboard">
  <h2>Dashboard </h2>

  <div class="filters">
    <div class="filter">
      <label for="region"> 
        <i class="material-icons">location_on</i>Región</label>
      <select [(ngModel)]="filter.region" id="region" (change)="updateCharts()">
        <option value="" disabled selected>Selecciona una región</option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
    </div>

    <div class="filter">
      <label for="year">
        <i class="material-icons">calendar_today</i> Año
      </label>
      <select [(ngModel)]="filter.year" id="year" (change)="updateCharts()">
        <option value="" disabled selected>Selecciona un año</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <button class="clear-filters" (click)="clearFilters()">Limpiar filtros</button>
  </div>

  <div id="noDataMessage" class="no-data-message">
    <p>No hay datos disponibles para los filtros seleccionados.</p>
  </div>

  <div class="charts">
    <div class="chart">
      <h5>Producción de Energía Renovable por Fuente</h5>
      <canvas id="barChart"></canvas>
    </div>
    <div class="chart">
      <h5>Participación de Energías Renovables</h5>
      <canvas id="pieChart"></canvas>
    </div>
    <div class="chart">
      <h5>Tendencia en la Capacidad Instalada</h5>
      <canvas id="lineChart"></canvas>
    </div>
    <div class="chart">
      <h5> Consumo de Energía Renovable VS Convencional</h5>
      <canvas id="areaChart"></canvas>
    </div>
  </div>
</div>
