<mat-toolbar color="primary" class="header-toolbar" [ngClass]="{'scrolled': isScrolled}">
  <!-- Logo -->
  <div class="toolbar-left">
    <img src="../../assets/img/Herencia Verde-03.png" alt="Energía Renovable Logo" class="logo-img" />
  </div>

  <!-- Botón Hamburguesa (Móvil) -->
  <button mat-icon-button class="menu-button" aria-label="Abrir menú" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Navegación -->
  <nav class="nav-links" [class.mobile]="isMenuOpen" role="navigation">
    <a mat-button routerLink="/" routerLinkActive="active" aria-label="Inicio" (click)="closeMenu()">
      <mat-icon>home</mat-icon> Inicio
    </a>
    <a mat-button routerLink="/energia-solar" routerLinkActive="active" aria-label="Energía Solar" (click)="closeMenu()">
      <mat-icon>wb_sunny</mat-icon> Energía Solar
    </a>
    <a mat-button routerLink="/datos-historicos" routerLinkActive="active" aria-label="Datos Históricos" (click)="closeMenu()">
      <mat-icon>table_chart</mat-icon> Datos Históricos
    </a>
    <a mat-button routerLink="/estimador" routerLinkActive="active" aria-label="Estimador" (click)="closeMenu()">
      <mat-icon>calculate</mat-icon> Estimador
    </a>
    <a mat-button routerLink="/dashboard" routerLinkActive="active" aria-label="Dashboard" (click)="closeMenu()">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
  </nav>
</mat-toolbar>
