/* Variables de color */
:root {
  background: url('/assets/img/fondoglobal.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 10vh;

  /* Tipografía */
  --font-family-base: 'Roboto Condensed', sans-serif; /* Cuerpo del texto */
  --font-family-heading: 'Roboto Condensed', sans-serif; /* Títulos */

  /* Espaciado */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
}

/* Reset global */
html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family-base);
}

/* Tipografía base */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

p, span, li {
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-family-base);
}

/* Espaciado general */
.container {
  padding: var(--space-md);
  margin: auto;
  max-width: 1200px;
}
